<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267229334940-mk7d84drbtfh4p85gog01o937prqgqi2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267229334940-mk7d84drbtfh4p85gog01o937prqgqi2</string>
	<key>API_KEY</key>
	<string>AIzaSyBxzPxI6rXUoJTmMeH033MMTw-SBwkBkas</string>
	<key>GCM_SENDER_ID</key>
	<string>267229334940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>curso.ios.uber.16121991</string>
	<key>PROJECT_ID</key>
	<string>uberclone-1e6bd</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-1e6bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267229334940:ios:d1ebc6b0b9683bce898c59</string>
	<key>DATABASE_URL</key>
	<string>https://uberclone-1e6bd.firebaseio.com</string>
</dict>
</plist>